.popup__info {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
@media screen and (max-width: 560px) {
  .popup__info {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
  }
}
