.popup__photo-container {
  position: relative;
  width: max-content;
  max-width: 80vh;
  max-height: 80vh;
}

@media screen and (max-width: 947px) {
  .popup__photo-container {
    width: 80vw;
  }
}
